<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
</head>
<body>
    {% include 'components/navbar.html' %}
    <div class="container-fluid pt-4 pt-xl-5 my-5  px-5">
    <div class="card shadow">
        <form method="post" id="form" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card-header py-3">
                <div class="row">
                    <div class="col ">
                        <h4 class=" text-primary mw-0 fw-bold" style="text-align: center ;">Find A Room</h4>
                    </div>
                </div>

            </div>
            <div class="card-body">
                    <div class="row">
                        <div class="col col-md-12 col-sm-12 col-lg-6 col-12">
                            <div id="times">
                                <div class="row" id="row_1">
                                    <div class="col col-12">
                                        <div class="mb-3">
                                            <label class="form-label" for="room">Time:</label>
                                            <select id="time_1" class="form-select" placeholder="room_number">
                                                <option value="1">8:00am - 9:20am</option>
                                                <option value="2">9:30am - 10:50am</option>
                                                <option value="3">11:00am - 12:20am</option>
                                                <option value="4">12:30am - 1:50am</option>
                                                <option value="5">2:00am - 3:20am</option>
                                                <option value="6">3:30am - 5:20am</option>
                                              </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- r -->
                            
                        </div>
                        <div class="col col-md-12 col-sm-12 col-lg-6 col-12">
                            <div class="mb-3">
                                <label class="form-label" for="date">Date:</label>
                                <input class="form-control inp" type="date" name="date" step="any" required id="date" >
                            </div>
                        </div>
                        <div class="row">
                                <div class="col text-center" >
                                    <button class="btn btn-primary" type="submit">Find</button>
                                    <button class="btn btn-danger" onclick="remove_booking()">Revoke my Booking</button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-12">
                                <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                                    <table class="table my-0" id="dataTable">
                                        <thead>
                                            <tr class="text-center">
                                                <th>Room</th>
                                                <th>Type</th>
                                                <th>Book Seat</th>
                                            </tr>
                                        </thead>
                                            <tbody id="room_details">
                                            </tbody>
                                        <tfoot>
                                            <tr class="text-center">
                                                <th>Room</th>
                                                <th>Type</th>
                                                <th>Book Seat</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>

        </form>
    </div>
</div>

    <link rel="stylesheet" href="{% static 'notify/notify.css' %}">
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'notify/notify.js' %}"></script>

    <!-- <script src="{% static 'selectise/selectise.js' %}"></script> -->
    <script src="{% static 'js/home.js' %}"></script>
</body>
</html>